.palette {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
.palette .colors * {
  cursor: pointer;
}
.whiteboard {
  overflow: hidden;
}
.whiteboard rect {
  transition: all .3s;
}
.dashline {
  stroke-dashoffset: 25;
  animation: dash 2s linear forwards infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
