{
//  "plugins": [
//    ["transform-runtime", {
//      "helpers": true,
//      "polyfill": true,
//      "regenerator": true,
//      "moduleName": "babel-runtime"
//    }]
//  ],
  "presets": ["stage-2", "es2015", ["env", {
      "targets": {
        "browsers": ["ie >= 9"]
      },
      "loose": true
    }]
  ]
}