doctype html
html
	head
		meta(charset='UTF-8')
		title Document
	link(href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css' rel='stylesheet')
	link(href='btn1.css' rel='stylesheet')
	link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
	body
		button.ui_btn1
			span PLAY VIDEO
		script(type='text/javascript', src='../../../inc/js/jquery.js')
		script(type='text/javascript', src='../../../inc/js/gsap-v1_19_1/src/uncompressed/TweenMax.js')
		script(type='text/javascript', src='./material_effect.js')
