doctype html
html(lang='en')
   head
      meta(charset='UTF-8')
      title Title
      style.
         div { width: 35px; height: 35px; float: left;}
   body
      script(src='../../../inc/js/d3.min.js')
      script(src='mosaic.js')