doctype html
// saved from url=(0040)http://bl.ocks.org/mbostock/raw/1705868/
html
   head
      meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
      script(src='../../../inc/js/d3.min.js')
      link(href='line-tracer.css' rel='stylesheet')

   body
      script(src='line-tracer.js')